{% extends "base.html" %}


{% block body %}
	<div id="container" class="cls-container">
		
		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header">
			<div class="cls-brand">
				<a class="box-inline" href="index.html">
					<!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
					<span class="brand-title">PerfectCRM <span class="text-thin">系统</span></span>
				</a>
			</div>
		</div>
		
		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
			<h1 class="error-code text-warning">403</h1>
			<p class="h4 text-thin pad-btm mar-btm">
				<i class="fa fa-exclamation-circle fa-fw"></i>
				Sorry, you don't have the permission to do this action!
			</p>

			<br>
			<div class="pad-top"><a class="btn-link" href="/">Back to Homepage</a></div>
		</div>
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->

{% endblock %}

