{% extends 'kingadmin/index.html' %}
{% load admin_tags %}
{% block page-title-text %}Password Reset{% endblock %}

{% block extra_head_resources %}


{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'table_index' %}">重置密码</a></li>
        <li class="active"> {{ user_obj.name  }}</li>
    </ol>
 {% endblock %}

{% block page-content %}


{% include 'kingadmin/filter_search_box.html' %}


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">重置密码： "{{ user_obj}}"</h3>
    </div>

    <form method="post" onsubmit="return CheckSelectedOptions()" class=" form-horizontal form-padding">{% csrf_token %}
        <div class="panel-body">


            {% for field in form %}
                <div class="form-group">
                    {%if field.field.required%}
                        <label class="col-md-2 control-label">
                            <b>{{field.label}}</b>
                        </label>
                    {% else %}
                        <label class="col-md-2 control-label">
                           {{field.label}}
                        </label>
                    {% endif %}

                    <div class="col-md-9">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <span style="color: red">{{ form.errors }}</span>

        </div> <!--end panel-body-->
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 ">
                    <button class="btn btn-info pull-right "  type="submit">Save</button>

                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}