        <div class="col-sm-7 col-lg-9 pull-right task_res_div">
            <div class="panel ">

                <div class="pannel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default " type="button" data-toggle="collapse" data-target="#demo-chat-body" aria-expanded="true">
                            <i class="fa fa-chevron-down "></i>
                        </button>
                    </div>
                    <h3 class="panel-title">{% block multi_task_action_title %}批量文件分发{% endblock %}</h3>
                </div>

                <div class="panel-body">
                    <!-- Content here -->


                    <div class="pad-ver">

                           <select  id="task_type" class="selectpicker">
                            <option value="file_send">分发文件到客户端</option>
                            <option value="file_get">从客户端下载文件</option>
                          </select>
                            <!--Send button-->
                          <select name="task_expire_time" class="selectpicker">
                            <option value="30">任务超时时间(30分钟)</option>
                            <option value="45">45分钟</option>
                            <option value="60">60分钟</option>
                            <option value="90">90分钟</option>
                            <option value="120">120分钟</option>
                            <option value="180">180分钟</option>
                          </select>

                        <input id="file_upload" name="filename" type="file" multiple class="file-loading">
                            <!--Send button-->
                        <form id="file_form">
                          <div class="form-group">
                            <label for="exampleInputName2">远程文件路径</label>
                            <input type="text" placeholder="必须输入绝对路径，不要包含文件名" class="form-control" name="remote_file_path" id="remote_file_path" >
                          </div>
                        </form>
                            <button id="file-exec-btn" type="button" class="btn btn-success btn-labeled">
                                <span class="btn-label"><i class="fa fa-bicycle"></i></span> 开始执行
                            </button>
                            <!--Save draft button-->
                            <button  onclick="TerminateTask()"  id="mail-save-btn" type="button" class="btn btn-danger btn-labeled">
                                <span class="btn-label"><i class="fa fa-stop"></i></span> 停止
                            </button>
                            <button id="file-download-to-local" task_id="None" type="button" class="btn btn-info btn-labeled hide">
                                <span class="btn-label"><i class="fa fa-download"></i></span> 下载文件到我的电脑
                            </button>
                    </div>
                    <br>
                    {% include 'multi_task_result_display_component.html' %}

                </div>
            </div> <!--end panel-default-->
        </div> <!--end col-lg-9-->
