<!--Large Bootstrap Modal-->
<!--===================================================-->
<div id="cmd-record-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header" style="opacity:1">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="cmd_log_title">详细操作纪录</h4>
                <div class="row" style="margin-top:5px">
                    <div class="col-md-2" id="modal-username">用户名: <span></span></div>
                    <div class="col-md-4" id="modal-hostname">主机: <span></span></div>
                    <div class="col-md-3" id="modal-login-date">Login: <span></span></div>
                    <div class="col-md-3" id="modal-logout-date">Logout: <span></span></div>
                </div>
            </div>
            <div class="modal-body" >
                <div id="cmd_log_content" style=""/>
                </div>
           </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Large Bootstrap Modal-->